.Login {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    padding: 8px;
}

.Login > div {
  margin: 8px;
}

.Login > form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.Login > form > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

label {
    padding: 4px;
}

input {
    padding: 4px;
    margin: 4px;
}

