.search-page {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 75px;
}

.search-label {
    font-size: x-large;
    padding: 0px;
}

#search-box {
    width: 50%;
    margin-top: 4px;
    padding: 4px;
    height: 24px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#search-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: none;
}

.results {
    margin-top: 20px;
    padding: 10px;
    background-color: lightgray;
    border: 3px outset;
}

.search-message {
    margin-bottom: 4px;
}

.title {
    font-size: large;
    font-weight: bold;
}

.description {
    margin-top: 2px;
}

.available {
    font-style: italic;
}

.borrow-button {
    height: 25px;
    width: 75px;
    background-color: lightgray;
    margin-top: 4px;
    border: 3px outset;
}

.modal-exit-button {
    margin: 0px;
    padding: 0px;
    height: 24px;
    width: 48px;
    border: 3px outset;
    background-color: lightgray;
}